<div class='fullscreen-menu' id='menu' role='dialog' aria-modal='true'>
  <div
    class='menu-waves'
    data-light-src='{{baseHref}}assets/images/waves-light.webp'
    data-dark-src='{{baseHref}}assets/images/waves-dark.webp'
  ></div>

  <a href='{{base}}' aria-label='Go to home'>
    <img
      src='{{baseHref}}assets/images/logo-katjadev-dark.svg'
      alt='Katja Dev Logo'
      class='site-logo site-logo-menu'
      loading='eager'
    />
  </a>

  <button class='menu-toggle opened' id='menuClose' aria-label='Close menu'>
    <svg class='icon' aria-hidden='true'><use href='#i-close' /></svg>
  </button>

  <nav>
    <a href='{{base}}#work'>Work</a>
    <a href='{{base}}#about'>About</a>
    <a href='{{base}}#contact'>Contact</a>
  </nav>
</div>